.headingdiv{
    width:100%;
    background-color: rgba(85, 94, 95, 0.925);
    text-align: center;
  
  }
  .header{
   
    font-style: italic;
    width:80%;
    
   margin: auto;
    height:fit-content;
    display: block;
   
   
    
  }
