.headingdiv{
    width:100%;
    background-color: #6F2232;
    text-align: center;
  
  }
  .header{
   color:rgb(243, 237, 237);
    font-style: italic;
    width:80%;
    font-size: 39px;
   margin: auto;
    height:55px;
    display: block;
   
   
    
  }
  @media only screen and (max-width:715px){
    .header{
    font-size: 30px;
    }
  }
  @media only screen and (max-width:569px){
    .header{
    font-size: 25px;
    }
  }
